
html
{
    font-size: 16px;
}
#adv>.adv1
{
    border: #000 solid 1px;
    text-align: center;
    transform:scale(.7);
    transition: ease-in-out .3s;
    margin: 0 auto;
    padding: 10px;
}
#adv>.adv1:hover
{
    box-shadow: #000 1px 1px 10px;
}

.card5 img
{
    width: 250px;
    border-radius: 80px;
    border: #17a2b8 2px solid;
    transition: ease-in-out .2s;   
    
}
.navbar{box-shadow: #000 2px 2px 10px}
.card5 
{
position: relative;
margin: 30px auto;
border-radius: 30px;
overflow: hidden;
transition: ease-in-out .2s;
box-shadow: black 2px 2px 10px;
}

.card5:hover
{
border-radius: 0;
}

.card5::after
{
content:"";
width: 100%;
background-color:#17a2b8;
height: 0;
position: absolute;
top: 0;
left: 0;
transition: ease-in-out .2s;
opacity: .8;
}
.card5:hover img
{
border-radius: 0;
filter: grayscale(10);
}
.card5:hover:after
{
height: 100%;   
}
.card5 .tit
{
position: absolute;
width: 100%;
top: -40px;
font-weight: bold;
color: #fff;
text-shadow: black 1px 1px 2px;
font-size: 1.2rem;
padding: 0 5px;
left: 0;
z-index: 999;
transition: ease-in-out .2s;
text-align: center;
opacity: 0;
}
.card5:hover .tit
{
position: absolute;
top: 20px;
left: 0;
opacity: 1;
}
/* -------------------------------------------- */
.active
{
    box-shadow: #023c7a 2px 2px 2px;
    opacity: .5;
    color: rgb(53, 3, 87);
    
}
.footer
{
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: #000 2px 2px 10px

}
.footer a
{

    color: rgb(112, 4, 4);
}

#to_up
{ display: none;
}
#to_up a{
box-shadow: black 1px 1px 5px;
background-color:#17a2b8;
color: #fff;
width: 60px;
height: 60px;
position: fixed;
bottom: 93px;
right: 20px;
font-size: 1.6rem;
text-align: center;
padding: 8px ;
z-index: 999;
text-decoration: none;
}